:root{
    --light: #fff;
    --primary: #26252a;
    --accent: #f9555c;
    --dark: #343438;
}


$clr--light: var(--light);
$clr--dark: var(--dark);
$clr--primary: var(--primary);
$clr--accent: var(--accent);

$clr--white: #fff;

$sm: "42rem";
$md: "92rem";
$lg: "144rem";
$xl: "180rem";